html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
    display: flex;
    position: sticky;
    font-family: "Noto Sans Display", sans-serif;
    justify-content: flex-end;
    background-color: rgb(223, 173, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 50px;
}

#ashley {
    margin-right: auto;
    font-size: 1.2rem;
}
  
.links {
    display: flex;
    font-size: 1.2rem;
}

#work {
    padding-right: 50px;
}

#div1 {
    display: flex;
    justify-content: center;
}

#inspoDescription {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homepage {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#breakfastmenu {
    padding-top: 20px;
    padding-left: 20px;
}

#div2 {
    display: flex;
    justify-content: center;
}

#dinnermenu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#orderpage {
    padding-top: 20px;
    padding-left: 20px;
}